


.card{
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 98px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;
flex: none;
order: 2;
flex-grow: 0;

box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
}

.image{
    width: 120px;
    height: 184px;
    max-width: 100%;
}

.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}


